<div class="cont">
  <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">full name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">num tel</label>
        <input type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">email</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">lorem lorem</label>
        <textarea class="form-control" id="areatxt" rows="3"></textarea>
      </div>



      <button type="submit" class="btn btn-primary">we are waiting !</button>
    </form>
    <div class="s-form">
      <img src="../../assets/contact-support-4349587-3611988.png  " id="ii">
      <div class="mor"></div>
    </div>
</div>
