<!-- <button mat-raised-button (click)="isEditable = !isEditable">
  {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button> -->

<mat-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field appearance="fill">
        <mat-label> name</mat-label>
        <input matInput formControlName="firstCtrl" placeholder="Last name" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>family name</mat-label>
        <input matInput formControlName="firstCtrl" placeholder="Last name" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>phone</mat-label>
        <input matInput formControlName="firstCtrl" placeholder="Last name" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>adresse</mat-label>
        <input matInput formControlName="firstCtrl" placeholder="Last name" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field appearance="fill">
        <mat-label> name</mat-label>
        <input matInput formControlName="firstCtrl" placeholder="Last name" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>family name</mat-label>
        <input matInput formControlName="firstCtrl" placeholder="Last name" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>phone</mat-label>
        <input matInput formControlName="firstCtrl" placeholder="Last name" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>adresse</mat-label>
        <input matInput formControlName="firstCtrl" placeholder="Last name" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>


    <!-- <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="email" class="form-control"  aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">family name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
    <div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-danger">Rreset</button>
  </div>
      </form>
      <div class="s-form">
        <img src="../../assets/home-location-4996143-4159749.png" id="ii">
        <div class="mor"></div>
      </div> -->

