form{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 59vw;
  height: 87vh;
  background-color: #C0CDD9;
  padding-left: 20vw ;
}
.s-form{
  width: 40vw;
  height: 87vh;
  background-color: #C0CDD9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 13vw;

}

.form-label{
  width: 25vw;
  font-size: large;
}
.cont{

  display: flex;
  justify-content: center;
  }
  .mat-stepper-horizontal {
    margin-top: 8px;
  }

  .mat-form-field {
    margin-top: 16px;
    width: 25vw;

  }
form {
  padding: 0 20vw;
  margin: 0;
  width: 100%;
  height: 73vh;
}
input{
  width: 50vw;
}
