<div class="main_section">
    <div class="slogan">
        <!-- <div class="slo1" id="sol1_def">
            <div class="ts">
                <p>
                Go as far as you can see <br>
              </p>
                <p id="su">
                you get there<br>
                you'll be able to see farther.
            </p>
            </div>
        </div>-->
        <div class="slo1">
            
        </div>
        <div class="slo2">
            <img src="../../assets/aa.png">
        </div>
    </div>




    <div class="sub_slogan">
        <div class="cont1">
            <span class="sub-slo-tit">WHY US ?/OUR SERVICES ?</span>
        </div>
        <div class="cont2">
            <div class="cont2_01">
                <h1>AAAAA</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus consectetur molestiae iusto ratione. Doloribus, porro accusantium quo velit provident harum sequi, id mollitia saepe numquam quod, obcaecati adipisci iusto veniam!
                </p>
            </div>
            <div class="cont2_01">
                <h1>AAAAA</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus consectetur molestiae iusto ratione. Doloribus, porro accusantium quo velit provident harum sequi, id mollitia saepe numquam quod, obcaecati adipisci iusto veniam!
                </p>
            </div>
            <div class="cont2_01">
                <h1>AAAAA</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus consectetur molestiae iusto ratione. Doloribus, porro accusantium quo velit provident harum sequi, id mollitia saepe numquam quod, obcaecati adipisci iusto veniam!
                </p>
            </div>
        </div>
    </div>
</div>




