<div class="main_section">
    <div class="slogan">    
        <div class="slo1" id="sol1_def">
            <p>
                Go as <span class="slo">far</span> as you can see
            </p>
        </div>
        <div class="slo1" id="sol2_def">
            <p class="align-item-center">
                when you get there
            </p>
        </div>
        <div class="slo1" id="sol3_def">
            <p>
                you'll be able to see <span class="slo">farther.</span>
            </p>
        </div>
     
    </div>
    <div class="sub_slogan">
        <div class="cont1">
            <span class="sub-slo-tit">WHY US ?/OUR SERVICES ?</span>
        </div>
        <div class="cont2">
            <div class="cont2_01">
                <h1>AAAAA</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus consectetur molestiae iusto ratione. Doloribus, porro accusantium quo velit provident harum sequi, id mollitia saepe numquam quod, obcaecati adipisci iusto veniam!
                </p>
            </div>
            <div class="cont2_01">
                <h1>AAAAA</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus consectetur molestiae iusto ratione. Doloribus, porro accusantium quo velit provident harum sequi, id mollitia saepe numquam quod, obcaecati adipisci iusto veniam!
                </p>
            </div>
            <div class="cont2_01">
                <h1>AAAAA</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus consectetur molestiae iusto ratione. Doloribus, porro accusantium quo velit provident harum sequi, id mollitia saepe numquam quod, obcaecati adipisci iusto veniam!
                </p>
            </div>
        </div>
    </div>
</div>




