.main_section{
    width: 100vw;
    height: 185vh;
/*     background-image:  linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(6, 108, 250, 0.3)), url("../home/media/bench-accounting-nvzvOPQW0gc-unsplash.jpg");
 */   /*  background-size: cover;
    background-repeat: no-repeat;

    background-position: center; */
    background-color: #001D3D   ;
}
.slogan{
    padding: 60px 0px;
    width: 100vw;
    height: 87vh;
    /*background-color: rgba(0, 255, 255, 0.204);*/
    display: flex;
    align-items: center;
}

#su{
    font-weight: bold;
    font-size: 55px ;
    color: white;
}
 .slo1{
    height: 85vh;
    width: 80vw;
    background-color: bisque;


   /*  font-family: 'Mouse Memoirs', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; */

}
.slo1 p{
    font-size: 40px;
    display: flex;
    color: white;

}

 #sol1_def{
    width: 65vw;
/*     background-color: red;
 */    height: 87vh;
    margin-left: 10vw;

}
.slo2{
    width: 34vw;
    height: 87vh;
    background-color: antiquewhite;
    overflow: hidden;
}
/*

#sol2_def{
    padding-right: 5vw;
}

#sol3_def{
    padding-left:30vw;
}
 */
.slo{
    text-decoration:underline;
    color:crimson;
}

.sub_slogan{
    width: 100vw;
    height: 100vh;
    /*background-color: rgba(115, 255, 0, 0.204);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cont1{
    width:100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-slo-tit{
    font-size: 40px;
}

.cont2{
    width:100vw;
    /*background-color:black;*/

}
.cont2_01{
    width: 100vw;
    height: 30vh;
    background-color: rgba(240, 248, 255, 0.492);
}

/* @media only screen and (max-width: 1036px) {
    .slo1 p {
      font-size: 60px;
    }
  }

  @media only screen and (max-width: 977px) {
    .slo1 p {
      font-size: 50px;
    }
  }

  @media only screen and (max-width: 813px) {
    .slo1 p {
      font-size: 40px;
    }
  }

  @media only screen and (max-width: 651px) {
    .slo1 p {
      font-size: 30px;
    }
  }
 */

